@import url('https://css.gg/css');

/* Variables */
:root{
  --text-color: #E4E4E4;
  --ggs: 2;
}

#home-search {
  background-color: transparent;
  background-image: url(https://helpy-assets.s3-us-west-2.amazonaws.com/Prancheta+2V2Transp.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -40px -260px;
  padding-top: 380px;
  position: absolute;
  width: 138%;
  height: 100vh;
  margin-left: -20%;
}

h1#how-help{
  padding-top: 35px;
  padding-bottom: 30px;
  margin-top: -85px;
}

#search-form{
  width: 45%;
  display: inline-block;
}

header {
  background-color: rgb(14, 24, 45);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.35);
  position: fixed;
  z-index: 10;
  width: 99.9%;
  height: 60px;
}

/* if supports backdrop filter */
@supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
  header {
    background-color: rgba(14, 24, 45, 0.25);
    backdrop-filter: blur(11px);
    --webkit-backdrop-filter: blur(11px);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.35);
  }
  #featured-categories{
    backdrop-filter: blur(11px);
  }
}

.content{
  background-image: radial-gradient(75% 40% at 85% 5%, #314166 0%, #192441 100%);
}

main {
  background-color: rgba(14, 24, 45);
}

body{
  color: var(--text-color);
}

a{
  color: var(--text-color);
}

a:hover{
  color: var(--text-color);
}

a:focus{
  color: var(--text-color);
}

.less-important{
  color: var(--text-color);
}

.flat-main-panel{
  background-color: transparent;
}

.tiny-header{
  color: var(--text-color);
}

a.list-group-item{
  color: var(--text-color);
  background-color: transparent;
}
a.list-group-item:hover{
  color: var(--text-color);
  background-color: transparent;
}

#left-col > .list-unstyled.border-right{
  border: none;
}

ul.breadcrumb{
  background-color: transparent;
}

label{
  color: var(--text-color);
}

.navbar-brand > img {
  width: 140px;
  margin-top: 15px;
  margin-left: 85%;
  position: absolute;
}

@media only screen and (max-width: 1200px){
  .navbar-brand > img {
    margin-left: 84%;
  }
  i.circle-icon{
    border: #E2E2E2 solid 1px;
    box-shadow: none;
  }
}

@media only screen and (max-width: 1199px){
  #home-search{
    background-position: -15px -220px;
    margin-left: -21%;
  }
  h1#how-help{
    margin-top: -160px;
    padding-top: 35px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 992px){
  .navbar-brand > img {
    margin-left: 83%;
  }
  .container {
      width: 99.9%;
  }
  i.circle-icon{
    border: #E2E2E2 solid 1px;
    box-shadow: none;
  }
}

@media (min-width: 768px){
  i.circle-icon{
    border: #E2E2E2 solid 1px;
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .navbar-brand > img {
    margin-left: 46%;
  }
  .container {
      width: 99.9%;
  }
}

@media (max-width: 959px){
  .list-inline > .btn.hidden-xs {
    display: none !important;
  }
  .list-inline > .btn-group.hidden-xs {
    display: none !important;
  }
}

.content{
  background-color: transparent;
}

body{
  background-color: #192441;
}

#featured-categories{
  background-color: rgba(42, 56, 91, 0.2);
  margin-top: 430px;
  margin-left: -35%;
  width: 170%;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 25%;
  padding-right: 25%;
}

th{
  color: var(--text-color);
}

.table-hover>tbody>tr:hover{
  background-color: transparent;
}

a.list-group-item:hover, a.list-group-item:focus, button.list-group-item:hover, button.list-group-item:focus{
  background-color: transparent;
}

.article-icon{
  margin-top: 50px;
}

i.circle-icon{
  border: #E2E2E2 solid 1px;
  box-shadow: none;
  width: 104px;
  height: 104px;
  padding: 43px;
  color: inherit;
}

.gg-folder{
  margin-left: -2px;
  margin-top: 2px;
  color: #2982F2;
}

.gg-list-tree{
  margin-left: -4px;
}

.gg-attribution{
  color: #6765DC;
}

.gg-flag{
  margin-left: 5px;
  color: #CFB97D;
}

.gg-arrows-exchange{
  color: #76CC75;
}

.gg-smile-mouth-open{
  margin-left: -2px;
  color: #CC668D;
}

.gg-list{
  margin-left: -2px;
  color: #FF8C91;
}

.gg-drive{
  margin-top: 5px;
  margin-left: -3px;
}

.gg-performance{
  color: #5582F5;
  margin-top: -1px;
  margin-left: -2px;
}

#search-field{
  border-radius: 10px;
}

.input-group-btn{
  padding-left: 20px;
}

.btn.btn-default{
  background: linear-gradient(45deg, #e759c7 0%, #8887f5 100%);
  border: none;
  color: white;
  border-radius: 5px !important;
}

#how-help{
  font-weight: bold;
}

.search-btn span{
  color: white !important;
}

.ticket-header{
  color: white;
}

.fa-smile.rating {
  color: transparent;
  background: linear-gradient(45deg, #01b8f9 0%, #01edc7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-meh.rating {
  color: transparent;
  background: linear-gradient(45deg, #bf75f8 0%, #fa77b6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-frown.rating {
  color: transparent;
  background: linear-gradient(45deg, #fe6faa 0%, #ffa292 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alert{
  z-index: 11;
  position: relative;
}

#pagetitle {
  padding-top: 60px;
}

#page-title h1{
  text-align: center;
  margin-top: 20px;
}

.edit-row{
  text-align: center;
}

#search-form{
  position: absolute;
  float: right;
  margin-left: 55%;
  margin-top: -165px;
}

#home-search #search-form{
  position: inherit;
  float: none;
  margin: 0;
}

.content-row{
  margin-top: -50px;
}

ul.breadcrumb {
  padding-top: 20px;
  padding-bottom: 15px;
}